.button{
background: url(notcoin\ \(10\).png);
    position: absolute;
    top: 240px;
    left: 600px;
width: 350px;
height: 350px;
    border-radius: 200px;
    
    
    
}

.text{
    color: rgb(230, 230, 230);
text-align: center;
    top: 100px;
   font-size: 70px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.body{
    background: url(orange\ \(1\).png)
}


.telegrambot{
    width: 1537px;
    height: 50px;
    background-color: rgb(38, 37, 37);
   margin-left: -10px;
   margin-top: -200px;
}

.notcointext{
    color: rgb(202, 198, 194);
    font-family: monospace;
    font-size: 18px;
    margin-top: -40px;
    margin-left: 740px;
}

.bot{
    color: rgb(202, 198, 194);
    font-family: monospace;
    font-size: 13px;
    margin-top: -5px;
    margin-left: 760px;
}

.bronze{
    color: rgb(202, 198, 194);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-top: 100px;
    margin-left: 725px;
}

.panel{
    background-color: rgb(51, 50, 50);
    width: 250px;
    height: 80px;
    margin-top: 460px;
    margin-left: 1260px;
    border-radius: 100px;
}
